.header{
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.no-movies-msg {
  text-align: center;
  color: #777;
  font-style: italic;
  margin-top: 50px;
}