<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="mb-4">
        <a [routerLink]="['/silvestre/plist']" class="btn btn-outline-secondary btn-sm">
          <i class="bi bi-arrow-left me-2"></i>Volver al listado
        </a>
      </div>
      <app-unrouted-admin-view [oSilvestre]="oSilvestre"></app-unrouted-admin-view>
      <div class="mt-4 d-flex gap-2 justify-content-end">
        <a [routerLink]="['/silvestre/edit', oSilvestre?.id]" class="btn btn-primary">
          <i class="bi bi-pencil-square me-2"></i>Editar
        </a>
        <a [routerLink]="['/silvestre/remove', oSilvestre?.id]" class="btn btn-outline-danger">
          <i class="bi bi-trash me-2"></i>Eliminar
        </a>
      </div>
    </div>
  </div>
</div>