<div class="front-view-post d-flex flex-column flex-md-row align-items-start">
  <div class="thumb me-3" aria-hidden>
    <i [class]="iconClass" aria-hidden="true"></i>
  </div>
  <div class="content flex-fill">
    <h1 class="title">{{ oSilvestre?.titulo }}</h1>
    <p class="excerpt">{{ oSilvestre?.descripcion ?? '' | trim : 150 }}</p>
    <div class="excerpt">
      <a [routerLink]="['/silvestre/post', oSilvestre?.id]" class="btn btn-sm btn-outline-primary">Leer</a>
    </div>
    <div class="d-flex justify-content-end">
      <small class="text-muted me-3">
        Publicado el {{ oSilvestre?.fechaCreacion | datetime : 'solofechacompleta' }}
        a las {{ oSilvestre?.fechaCreacion | datetime : 'solohora' }}
      </small>
    </div>
    <div class="d-flex justify-content-end">
      <small class="text-muted me-3">Url de imagen: {{ oSilvestre?.urlImagen }}</small>
    </div>
    
  </div>
</div>
