<div class="front-view-post d-flex flex-column flex-md-row align-items-start">
  <div class="thumb me-3" aria-hidden>
    <i [class]="iconClass" aria-hidden="true"></i>
  </div>
  <div class="content flex-fill">
    <h1 class="title">{{ oReyna?.frase ?? '' | trim : 100 }}</h1>
    <p class="excerpt">Autor: {{ oReyna?.autor ?? '' }}</p>
    <div class="excerpt">
      <a [routerLink]="['/reyna/post', oReyna?.id]" class="btn btn-sm btn-outline-primary"
        >Leer más</a
      >
    </div>
    <div class="d-flex justify-content-between">
      <small class="text-muted me-3">
        <i class="bi bi-eye"></i> {{ oReyna?.esPublica ? 'Pública' : 'Privada' }}
      </small>
      <small class="text-muted me-3">
        Publicado el {{ oReyna?.fechaCreacion | datetime : 'solofechacompleta' }} a las
        {{ oReyna?.fechaCreacion | datetime : 'solohora' }}
      </small>
    </div>
  </div>
</div>
