<div class="btn-group btn-group-sm" role="group">
  <a [routerLink]="['/visitas/dashboard/view', visita.id]" class="btn btn-outline-primary" title="Ver">
    <i class="bi bi-info-circle"></i>
  </a>
  <button class="btn btn-outline-secondary" (click)="onTogglePublish()" title="Publicar/Ocultar">
    @if (visita.estaPublicado) {
      <i class="bi bi-eye-slash text-danger"></i>
    } @else {
      <i class="bi bi-eye text-success"></i>
    }
  </button>
  <a [routerLink]="['/visitas/dashboard/remove', visita.id]" class="btn btn-outline-danger" title="Borrar">
    <i class="bi bi-trash"></i>
  </a>
</div>
