<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="">DAWsiàs frontUTIL · uski</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="activeRoute === '/' || activeRoute === '/home' || activeRoute.startsWith('/home')"
            aria-current="page"
            [routerLink]="['/']"
            title="Home"
          >
            <i class="bi bi-house"></i>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [class.active]="activeRoute === '/visitas' || activeRoute.startsWith('/visitas')"
            [routerLink]="['/visitas']"
            title="Libro de visitas"
          >
            <i class="bi bi-chat-left-text"></i>
          </a>
        </li>
      </ul>

      <div class="d-flex align-items-center ms-3">
        @if(!isSessionActive){
        <a
          [routerLink]="['/login']"
          class="btn btn-sm btn-outline-primary d-inline-flex align-items-center nav-login-btn"
          [class.active]="activeRoute.startsWith('/login')"
          title="Acceder"
        >
          <i class="bi bi-person-circle me-2"></i>
          <span class="d-none d-lg-inline">Iniciar sesión</span>
        </a>
        } @else {
        <a>
          <i class="bi bi-person-circle me-2"></i>
          <span class="d-none d-lg-inline">{{ oTokenJWT?.username }}</span>
        </a>
        <a
          [routerLink]="['/logout']"
          class="btn btn-sm btn-outline-primary d-inline-flex align-items-center nav-login-btn mx-3"
          [class.active]="activeRoute.startsWith('/logout')"
          title="Salir"
          >Salir</a
        >
        }
      </div>
    </div>
  </div>
</nav>
