<div class="container my-4">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="mb-4">
        <a [routerLink]="['/recurso/plist']" class="btn btn-outline-secondary btn-sm">
          <i class="bi bi-arrow-left me-2"></i>Volver al listado
        </a>
      </div>
<app-unrouted-admin-view [oRecurso]="oRecurso"></app-unrouted-admin-view>
<div class="mt-4 d-flex gap-2 justify-content-end">
        <a [routerLink]="['/recurso/edit', oRecurso?.id]" class="btn btn-primary">
          <i class="bi bi-pencil-square me-2"></i>Editar
        </a>
        <a [routerLink]="['/recurso/remove', oRecurso?.id]" class="btn btn-outline-danger">
          <i class="bi bi-trash me-2"></i>Eliminar
        </a>
      </div>
    </div>
  </div>
</div>
