<div class="card shadow-sm mb-3 registro-card-private">
  <div class="card-body relative">
    <h5 class="card-title fw-bold">{{ oVisita.nombre }}</h5>
    <p class="card-text">{{ oVisita.comentario }}</p>

    <div class="d-flex justify-content-between align-items-center mb-2">
      <small class="text-muted">
        <i class="bi bi-calendar me-1"></i>
        Fecha de creación: {{ oVisita.fechaCreacion }}
      </small>
    </div>

    @if (oVisita.fechaModificacion) {
      <div class="text-muted small mb-3">
        <i class="bi bi-pencil-square me-1"></i>
        Está modificado: {{ oVisita.fechaModificacion }}
      </div>
    }

    <div class="status-badge justify-content-center align-items-center">
      <h3 class="fs-6">Estado</h3>
      @if (oVisita.estaPublicado) {
        <span class="badge bg-success p-3 fs-6">Publicado</span>
      } @else {
        <span class="badge bg-danger p-3 fs-6">No publicado</span>
      }
    </div>

    <div class="actions-row d-flex gap-2">
      <button class="btn btn-sm"
              [ngClass]="oVisita.estaPublicado ? 'btn-outline-secondary' : 'btn-outline-success'"
              (click)="onTogglePublish(oVisita)">
        @if (oVisita.estaPublicado) {
          <i class="bi bi-eye-slash me-1"></i>Ocultar
        } @else {
          <i class="bi bi-eye me-1"></i>Publicar
        }
      </button>

      <!-- <button class="btn btn-sm btn-outline-danger"
              (click)="onDelete(oVisita)">
        <i class="bi bi-trash me-1"></i>Borrar
      </button> -->
    </div>
  </div>
</div>
