<div class="container m-5 post-view">
  <article class="post-card p-5 border rounded shadow-sm">
    <header class="post-header my-5">
      <h1 class="post-title">{{ oSilvestre?.titulo }}</h1>
    </header>

    <section class="post-content my-5">
      <!-- icono de comillas -->
      <i class="bi bi-quote"></i>
      <p [innerHTML]="oSilvestre?.descripcion"></p>
    </section>

    <footer class="post-footer my-5 d-flex justify-content-between align-items-center">
      <div class="post-meta text-muted small">
        <span class="me-3">
          <i class="bi bi-calendar3"></i>
          Publicado el
          {{ oSilvestre?.fechaCreacion | datetime : 'solofechacompleta' }} a las
          {{ oSilvestre?.fechaCreacion | datetime : 'solohora' }}
        </span>
        @if (oSilvestre?.fechaModificacion) {
        <span class="me-3">
          <i class="bi bi-clock"></i>
          Modificado el
          {{ oSilvestre?.fechaModificacion | datetime : 'solofechacompleta' }} a las
          {{ oSilvestre?.fechaModificacion | datetime : 'solohora' }}
        </span>
        }
      </div>
      <div class="post-meta text-muted small">
        <span class="tags"><i class="bi bi-tags"></i>
          @if (oSilvestre?.urlImagen) {
          <a [href]="oSilvestre?.urlImagen" target="_blank" rel="noopener noreferrer">{{ oSilvestre?.urlImagen }}</a>
          } @else {
          <span class="text-muted">Sin URL</span>
          }
        </span>
      </div>
    </footer>
  </article>
</div>
