
.container-game{
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
}
.learning-route{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 800px;
  height: auto;
  gap: 16px 0;
}

.button-class{
  width: 50px;
  height: 50px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 10px;
}

.class-n1{
  grid-area: 1/3/2/4;
}

.class-n2{
  grid-area: 2/3/3/4;
}
.class-n3{
  grid-area: 3/4/4/5;
}
.class-n4{
  grid-area: 4/4/5/5;
}
.class-n5{
  grid-area: 5/3/6/4;
}
.class-n6{
  grid-area: 6/2/7/3;
}
.class-n7{
  grid-area: 7/2/8/3;
}
.class-n8{
  grid-area: 8/3/9/4;
}
.class-n9{
  grid-area: 10/3/11/4;
}
