.container-view{
  padding: 20px;
}

h1{
  margin-bottom: 40px;
}

.date-publi{
  color: azure;
}

p{
  margin-left: 20px;
}

.button-seccion:hover{
  transform: translateY(7px);
  box-shadow: none;
}
