<!-- crear la tabla con oRecurso -->
<div class="container my-4 edit-form">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-card">
        <h1 class="my-5">Detalle de recurso</h1>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="row">{{ oRecurso?.id }}</th>
            </tr>
            <tr>
              <th scope="col">Nombre</th>
              <td>{{ oRecurso?.nombre }}</td>
            </tr>
            <tr>
              <th scope="col" class="align-middle">URL</th>
              <td><a [href]="oRecurso?.url" target="_blank">{{ oRecurso?.url }}</a></td>
            </tr>
            <tr>
              <th scope="col">Público</th>
              <td>
                @if (oRecurso?.publico) {
                  <i class="bi bi-check-circle text-success"></i> Sí
                } @else {
                  <i class="bi bi-x-circle text-danger"></i> No
                }
              </td>
            </tr>
            <tr>
              <th scope="col">Creación</th>
              <td>{{ oRecurso?.fechaCreacion }}</td>
            </tr>
            <tr>
              <th scope="col">Actualización</th>
              <td>{{ oRecurso?.fechaModificacion }}</td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
